* {
  color: #05071F;
  /*font-family: 'PT Serif', serif;*/
  font-family: 'Montserrat', sans-serif;

}

body {
  text-align: center;
  /*width: 70%;*/
  margin: 0 auto;
  background-color: #BDBDBD;

}

main {
  width: 70%;
  margin: 0 auto;
}

.title{
  background-color: #8F2A1A;
  padding-top: 100px;
}

.nav {
  background-color: #5D0B0A;
  /*background-color:#424242;*/
}

ul {
  margin: 0;
  padding: 0px;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  padding: 10px;
  margin: 0;
  font-size: 40px;
  font-weight: 600;
}

h2 {
  padding: 10px;
  margin: 0;
}

.nav a {
  color: white;
}

a:hover {
  color: #880E4F;
}

.social-media {

}
