* {
  color: #05071F;
  /*font-family: 'PT Serif', serif;*/

  font-family: 'Montserrat', sans-serif;

}

body {
  text-align: center;
  margin: 0 auto;
  /*background-color: #BDBDBD;*/
  background-color: #EFEBE9;
  font-size: 10px;
}

main {
  width: 90%;
  margin: 0 auto;
}

.nav {
  background-color: #5D0B0A;
  /*background-color:#424242;*/
}

ul {
  margin: 0;
  padding: 0px;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  padding: 10px;
  margin: 0;
  font-size: 1.6rem;
}


h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.1rem;
  margin: 10px;
}

time {
  font-size: 0.9rem;
}

.social-media {
  font-size: 0.9rem;
}
.nav a {
  color: white;
  font-size: 1.1rem;
}

a:hover {
  color: #880E4F;
}

@media (min-width: 640px) {
  h1 {
    padding: 10px;
    margin: 0;
    font-size: 2.1rem;
    font-weight: 600;
  }

  h2 {
    padding: 10px;
    margin: 0;
    font-size: 1.8rem;
  }
