body {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

ul {
  padding: 0px;
  list-style-type: none;
}

a:hover {
  color: #880E4F;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  margin: 0;
}
