/******************HEADER******************/

.title{
  text-align: center;
  justify-content: center;
  /*background-color: #8F2A1A;*/
  background-image: url("../assets/home1.jpg");
  background-size: cover;
  height: 250px;
}

h1 {
  padding: 10px;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.social-media li{
  display: inline-block;
  padding: 10px;
}

.nav li {
  padding: 10px;
  display: block;
  font-size: 20px;
}
/******************MAIN SECTION******************/
.resume-container {
  width: 100%;
  align-content: center;
}

.projects-container {
  width: 100%;
  align-content: center;
}

.projects-display {
  display: block;
  width:90%;
  margin: 0 auto;
}

@media (min-width: 640px) {
/******************HEADER******************/
  .title{
    background-image: url("../assets/home1.jpg");
    background-size: cover;
    height: 400px;
    text-align: center;
  }
  h1 {
    font-size: 1.9rem;
  }
  .nav li {
    margin: 10px;
    display:inline-block;
  }

  .social-media li{
    margin: 20px;
  }
/******************MAIN SECTION******************/
  .projects-display {
    display: inline-block;
    width:30%;
    margin: 10px;
  }

  .resume-item {
    width: 65%;
    margin: 0 auto;
    padding-top: 20px;
  }
}
