.social-media li{
  display: inline;
}

.nav li {
  margin: 20px;
  display:block;
}

.resume p {
  width:80%;
  border-style: solid;
  height: 90px;
  margin: 0 auto;
}

.project-placeholder {
  width: 100px;
  height:100px;
  border-style: solid;
  margin: 0 auto;
}

.title {
  text-align: center;
}

#projects section {
  margin: 20px 0px 20px 0px;
}

.project-icons {
  width: 100px;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .nav {
    text-align: center;
  }

  .nav li {
    display:inline-block;
    /*width:100px;*/
  }

  #projects {
    float: right;
    width: 35%
  }

  .resume {
    float: left;
    width: 65%;
  }

  .social-media li{
    margin: 20px;
  }
}
